*, 
*::before, 
*::after {
  box-sizing: border-box;
}

ul[class], 
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.22;
  font-style: normal;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #213632;
  user-select: none;
}

img {
  max-width: 100%;
  display: block;
}

button:focus {
  outline: none;
}
a {
  transition: all 0.3s linear;
}
a, a:hover {
  text-decoration: none;
}
/*** Chrome, Safari, Edge, Opera ***/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*** Firefox ***/
input[type=number] {
  -moz-appearance:textfield;
}

.work-format__block {
  margin: 0 auto 165px;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.22;

  @media screen and (max-width: 1025px) {
    margin-bottom: 110px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (max-width: 800px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 40px;
  }
}

.work-format__title-h3 {
  margin-left: 40px;
  font-weight: 500;
  font-size: 30px;

  @media screen and (max-width: 500px) {
    margin-left: 30px;
    font-size: 25px;
  }
}

.work-format__description {
  padding-left: 30px;
  font-weight: 500;
  font-size: 20px;
  text-align: left;

  @media screen and (max-width: 1025px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 800px) {
    padding: 0 5px;
    text-align: center;
    font-size: 18px;
  }

  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}

.work-format__number {
  position: absolute;
  left: 0;
  top: -10px;
  font-weight: 500;
  font-size: 48px;
  color: #41e7c9;

  @media screen and (max-width: 1025px) {
    left: 10px;
  }

  @media screen and (max-width: 500px) {
    top: -5px;
    font-size: 32px;
  }
}

.work-format__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 385px;
  height: 95px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  background-color: #41e7c9;

  &:hover {
    background-color: #3bbca4;
    color: #edeaea;
  }

  @media screen and (max-width: 500px) {
    width: 300px;
    height: 75px;
  }

  @media screen and (max-width: 360px) {
    width: 270px;
    height: 68px;
    font-size: 16px;
  }
}

.work-format__card {
  display: flex;
  flex-direction: column;
  width: 283px;
  border: 1px solid #41e7c9;
}




